<h1 id="test-web-cv-baptiste-gadebille">test web CV Baptiste Gadebille</h1>
<ul>
<li>Je suis étudiant en 2ème année, à Ynov Informatique Option Robotique.</li>
</ul>
<h2 id="comp-tences-">Compétences:</h2>
<ul>
<li>Bases en infrastructures système et réseau.</li>
<li>Langage de programmation en cours d&#39;apprentissage :<ul>
<li>Python, C++, C#</li>
</ul>
</li>
</ul>
<h2 id="formation-">formation:</h2>
<ul>
<li>Lycée Montesquieu Bordeaux, 2021.<ul>
<li>Baccalauréat, Mathématiques et SES.</li>
</ul>
</li>
</ul>
<h2 id="exp-riences-">expériences:</h2>
<ul>
<li><p><em>Monoprix CDD - Aout 2022</em></p>
<ul>
<li>Emploi commercial caisse</li>
</ul>
</li>
<li><p><em>Manutentionnaire Logistique - PSI Groupe Magellan  CDD Aout 2021</em></p>
<ul>
<li>Déploiement de flottes d&#39;ordinateurs</li>
</ul>
</li>
<li><p><em>Coopérant CJS - CDD (CJS Hello&#39;Coop) - Juillet - aout 2019</em></p>
<ul>
<li>Administration de la structure, secrétaire du conseil d&#39;administration </li>
</ul>
</li>
<li><em>Membre de l&#39;acelm  (Association lycéens) 2018 - 2021</em><ul>
<li>membre du Conseil d&#39;administration 2020-2021 </li>
</ul>
</li>
</ul>
<h2 id="projets-de-ydays-">projets de ydays:</h2>
<ul>
<li><p><em>Participation au labo Gearobot 2022-2023:</em></p>
<ul>
<li>Le projet est de concevoir un robot modulaire et polyvalent.</li>
</ul>
</li>
<li><p><em>Projet Robolympiades 2021-2022 &amp; 2022-2023:</em></p>
<ul>
<li>Compétition de robotique (conception mécatronique).<ul>
<li>Les robots sont autonome et s&#39;affrontent sur plusieurs épreuves.</li>
</ul>
</li>
</ul>
</li>
<li><p><em>Projet la bête humaine 2021-2022:</em></p>
<ul>
<li>Le projet est de faire un prototype de robot d&#39;accueil pour le salon de tatouage &quot;la bête humaine&quot;.</li>
</ul>
</li>
</ul>
<h2 id="projet-personnels-">Projet personnels:</h2>
<ul>
<li><p><em>Projet bb8:</em> </p>
<ul>
<li>Le but du projet est de faire un robot qui ressemble à celui de star wars, il se déplace à l&#39;intérieur d&#39;une sphère.</li>
</ul>
</li>
<li><p><em>Spider bot:</em></p>
<ul>
<li>Le but du projet est de concevoir un robot quadrupède et autonome .</li>
</ul>
</li>
</ul>
<h2 id="centres-d-int-r-t-">centres d&#39;intérêt :</h2>
<ul>
<li>La Robotique.</li>
<li>La natation.<ul>
<li>Club de natation pendant 11 ans.</li>
</ul>
</li>
<li>jeux vidéos:<ul>
<li>Jeux de gestion et technique.</li>
</ul>
</li>
<li>Lecture: <ul>
<li>Comics, Romans... </li>
</ul>
</li>
<li>Les Échecs.</li>
<li>L&#39;histoire de l’aérospatiale.</li>
</ul>
